/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css start */
/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --light: #F2F5D1;
    --darkwatermelon: #FF595E;
    --darkgrey: #3C3939;
	--lightgrey: #464545; 
	--black: black;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--darkgrey);
    font-family: "Poppins", sans-serif;
	color: white;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--darkwatermelon);
    box-shadow: 1px 1px 5px 0px var(--darkgrey);
    position: sticky;
    top: 0;
    width: 100%;
	padding: 4px 4px 4px 0;
}

/* Logo */
.logo img{
	width: 40px;
	padding-top: 5px;
	padding-bottom: 4px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--lightgrey);
    overflow: hidden;
}

.menu a{
    display: block;
    padding: 30px;
    color: var(--light);

}

.menu a:hover{
    background-color: var(--darkgrey);
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: left;
    padding: 22px 8px;
}


.hamb-line {
    background: var(--light);
    display: block;
    height: 5px;
    position: relative;
    width: 30px;
	border-radius: 20px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--light);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
	border-radius: 20px;
}

.hamb-line::before{
    top: 11px;
}

.hamb-line::after{
    top: -11px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Profile Icon */

.profile svg {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	padding-bottom: 3px;
	height: auto;
}


/* Menu Responsiveness */

@media (min-width: 768px) {
	.header {
		display: grid;
		grid-template-columns: auto auto;
		grid-area:'logo nav';
		padding: 12px;
	}
	.nav{
        max-height: none;
        top: 0;
        padding-left: 5%;
        width: fit-content;
        background-color: transparent;
		
    }
	
	
    .menu li{
        float: left;
		
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--darkgrey);
    }
    
    .hamb{
        display: none;
    }

	.logo svg {
		grid-area: logo;
	}

}