/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css start */
/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root{
    --light: #F2F5D1;
    --darkwatermelon: #FF595E;
    --darkgrey: #3C3939;
	--lightgrey: #464545; 
	--black: black;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--darkgrey)!important;
    font-family: "Poppins", sans-serif;
	color: white;
}

a{
    text-decoration: none!important;
}



ul{
    list-style: none;
}

/* Header */
.nav-header{
    background-color: var(--darkwatermelon);
    box-shadow: 1px 1px 5px 0px var(--darkgrey);
    position: sticky;
    top: 0;
    width: 100%;
	padding: 4px 4px 0 0;
	z-index: 9999;
}


/* Logo */
.logo img{
	width: 40px;
	transform: translate(0, -23px);

}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--lightgrey);
    overflow: hidden;

}

.menu a{
    display: block;
    padding: 30px;
    color: var(--light);
   
}

.menu a:hover{
    background-color: var(--darkgrey)!important;
	
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    padding: 22px 8px;
}


.hamb-line {
    background: var(--light);
    display: block;
    height: 5px;
    position: relative;
    width: 30px;
	border-radius: 20px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: var(--light);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
	border-radius: 20px;
}

.hamb-line::before{
    top: 11px;
}

.hamb-line::after{
    top: -11px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
	
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.side-menu:checked ~ main {
	display:none;
}

/* Profile Icon */

.profile img {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	height: 48px;
}


/* Menu Responsiveness */

@media (min-width: 768px) {
	.header {
		display: grid;
		grid-template-columns: auto auto;
		padding: 12px;
	}
	.nav{
        max-height: none;
        top: 0;
        padding-left: 5%;
        width: fit-content;
        background-color: transparent;
		
    }
	
	
    .menu li{
        float: left;
		
    }

    .menu a:hover{
        background-color: transparent!important;
        color: var(--darkgrey)!important;
    }
    
    .hamb{
        display: none;
    }

	.logo img{
		transform: translate(0, 8px);
	
	}

}

/* carousel */

.play {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.play svg {
	width: 100%;
	height: auto;
}



/* netflix-like genre carousel */

*, *::after, *::before {
	box-sizing: border-box;
  }
  
  :root {
	--handle-size: 3rem;
	--img-gap: .25rem;
  }
  
  body {
	margin: 0;
  }
  
  .container {
	display: flex;
	justify-content: center;
	overflow: hidden;
  }
  
  .slider {
	--items-per-screen: 4;
	--slider-index: 0;
	display: flex;
	flex-grow: 1;
	margin: 0 var(--img-gap);
	transform: translateX(calc(var(--slider-index) * -100%));
	transition: transform 250ms ease-in-out;
  }
  
  .slider > img {
	flex: 0 0 calc(100% / var(--items-per-screen));
	max-width: calc(100% / var(--items-per-screen));
	aspect-ratio: 16 / 9;
	padding: var(--img-gap);
	border-radius: 1rem;
  }
  
  .handle {
	border: none;
	border-radius: 1rem;
	flex-grow: 0;
	flex-shrink: 0;
	background-color: rgba(255, 255, 255, .25);
	z-index: 10;
	margin: var(--img-gap) 0;
	width: var(--handle-size);
	cursor: pointer;
	font-size: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	line-height: 0;
	transition: background-color 150ms ease-in-out;
  }
  
  .left-handle {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
  }
  
  .right-handle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
  }
  
  .handle:hover,
  .handle:focus {
	background-color: rgba(255, 255, 255, .5);
  }
  
  .text {
	transition: transform 150ms ease-in-out;
  }
  
  .handle:hover .text,
  .handle:focus .text {
	transform: scale(1.2);
  }
  
  .header {
	display: flex;
	justify-content: space-between;
	padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
	align-items: center;
  }
  
  .title {
	font-size: 2rem;
	margin: 0;
  }
  
  
  @media (max-width: 1000px) {
	.slider {
	  --items-per-screen: 3;
	}
  }
  
  @media (max-width: 500px) {
	.slider {
	  --items-per-screen: 2;
	}
  }
  
  body {
	background-color: #333;
	color: white;
  }

